
.logout-button {
    height: 35px;
    width: 100px;

}
.logout-button-text {
    background-color: rgb(232, 76, 138, 1);
    box-shadow: 0px 0px 5px rgb(232, 76, 138, 1);
    height: 35px;
    width: 100px;
    color: wheat;
    font-size: 15px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    font-family: 'inter', sans-serif;
    font-weight: 600;
}

.logout-button-text:hover {
    background-color: rgb(200, 70, 100, 1);
    
}

.logout-button-text:active {
    box-shadow: 0px 0px 10px rgb(232, 76, 138, 1);
}